# requirements-core.txt
scikit-learn==1.5.2
pandas==2.2.3
numpy==1.26.4
matplotlib==3.9.2
shap==0.46.0
mlflow==2.17.2
dvc[s3]==3.55.2
boto3==1.35.49
aif360==0.6.1
interpret==0.6.7
opendp==0.10.0
faker==30.8.1
flwr==1.13.0
adversarial-robustness-toolbox==1.18.2
tensorflow-cpu==2.15.1
requests==2.32.3
cryptography==42.0.8
